<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "[namisam]"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[Kor2Eng]</name>

    <description>
        이 앱은 학생들의 영어 작문에 도움을 주기 위해 개발되었습니다.
    </description>

    <author href="http://scratch.mit.edu/users/[namisam73]" email="[namisam@hanmail.net]">
        [namisam]
    </author>

</widget>
